@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Identity -->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">@Model.CvModel.Identity.FirstName   @Model.CvModel.Identity.LastName</h2>
                        <h3 class="post-subtitle">@Model.CvModel.Identity.KindOfWork</h3>
                    </a>
                    <div class="subheading mb-5">
                        @Model.CvModel.Identity.Address.Number, @Model.CvModel.Identity.Address.Box · @Model.CvModel.Identity.Address.Street ·
                        @Model.CvModel.Identity.Address.Town, @Model.CvModel.Identity.Address.PostalCode ·
                        @Model.CvModel.Identity.Address.Contry ·
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Experience-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Experience</h2>
                    </a>
                    <div class="social-icons">
                        @foreach (var e in @Model.CvModel.Experiances.OrderByDescending(xp => xp.EndDate))
                        {
                            <h3>@e.Title - @e.Poste </h3> <label>@e.StartDate.ToLongDateString() - @e.EndDate.Value.ToLongDateString()</label>
                            <p>@e.Description</p>
                            <br />
                        }
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Education-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Education</h2>
                    </a>
                    <div class="social-icons">
                        @foreach (var e in @Model.CvModel.Educations.OrderByDescending(xp => xp.EndDate))
                        {
                            <h3>@e.KindOfStudy - @e.School </h3>
                            <h5>@e.Degres</h5>
                            <label>@e.StartDate.ToLongDateString() - @e.EndDate.ToLongDateString()</label>
                            <br />
                        }
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Skills-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Skills</h2>
                    </a>
                    <div class="social-icons">
                        @foreach (var s in @Model.CvModel.Skills)
                        {
                            <h3>@s.Name</h3>
                            @foreach (var sk in @s.SkillItems)
                            {
                                <li>
                                    @sk.Name
                                </li>
                            }
                        }
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Certifications-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Certifications</h2>
                    </a>
                    <div class="social-icons">
                        @foreach (var c in @Model.CvModel.Certifications)
                        {
                            <li>
                                @c.Name
                            </li>
                        }
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Interests-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Interests</h2>
                    </a>
                    <div class="social-icons">
                        @foreach (var i in @Model.CvModel.Interests)
                        {
                            <h5>
                                @i.Name
                            </h5>
                            <p>
                                @i.Description
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        @foreach (var s in @Model.CvModel.Socials)
                        {
                            <li class="list-inline-item">
                                <a href="@s.Url">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        @{
                                            var iClass = s.icon;
                                        }
                                        <i class="@iClass"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; My Cv Online 2022</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>